node_modules/
npm-debug.log
yarn-error.log
.git/
.gitignore
.env
.env.local
dist/
.angular/
.firebase/
.vscode/
.idea/
*.spec.ts
src/
*.md
.editorconfig
.gitattributes
angular.json
tsconfig*.json
karma.conf.js
